.navBar {
  background-color: rgba(0, 0, 0, 0.868);
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 5px;
}

.links {
  margin: 5px 5px 0px 5px;
  color: white;
}

body {
  background-image: linear-gradient(
    to right,
    rgba(250, 49, 49, 0.868),
    rgba(152, 3, 152, 0.772),
    rgba(0, 102, 255, 0.945)
  );
  height: 100vh;
}

.content {
  height: 100%;
}

footer {
  background-color: rgba(248, 250, 251, 0.185);
  display: block;
  text-align: center;
  border-top: solid 2px;
  border-radius: 4px;
}
